# Supabase configuration
PUBLIC_SUPABASE_URL=your_supabase_url
PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# ImageKit configuration
PUBLIC_IMAGEKIT_URL_ENDPOINT=your_imagekit_url_endpoint
PUBLIC_IMAGEKIT_PUBLIC_KEY=your_imagekit_public_key
# Private key is needed for generating auth signatures on the server side
IMAGEKIT_PRIVATE_KEY=your_imagekit_private_key
PUBLIC_IMAGEKIT_AUTH_ENDPOINT=http://localhost:4321/api/imagekit-auth
